<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сайт</title>
    <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/main.css">
    <link rel="stylesheet" href="/static/assets/css/dt-global_style.css">
    <link rel="stylesheet" href="/static/assets/css/sweetalert.css">
    <link rel="stylesheet" href="/static/assets/css/sweetalert2.min.css">

    <link rel="icon" type="image/x-icon" href="/static/assets/img/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">

    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/sweetalert.js"></script>
    <script src="/static/assets/js/sweetalert2.min.js"></script>
    <script src="/static/assets/js/custom-sweetalert.js"></script>
</head>
<body>
    <div class="main-container" id="container">
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <div class="row layout-top-spacing" id="cancel-row">
                </div>
            </div>
        </div>
    </div>
</body>
</html>